/vendor
/node_modules
.env
.env.*
/storage/*.key
/storage/logs
/storage/framework
/public/storage
/bootstrap/cache/*.php
*.zip
.DS_Store
Thumbs.db

/vendor/
/node_modules/
/storage/
/bootstrap/cache/
.env
